.img-fluid {
	max-width: 100%;
	height: auto; }

.item__pic {
	margin-top: 2rem;}

.product__details__text h3 {
	color: #252525;
	font-weight: 700;
	font-family: "Kaushan", sans-serif;
	margin-bottom: 1.6rem;
	margin-top: 2rem;
	font-size: 3rem;
}

.product__details__price {
	font-size: 3rem;
	font-family: "Kaushan", sans-serif;
	color: #dd2222;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.product__details__text p {
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 2.6rem;
	margin: 0 0 1.5rem 0;
}

